.title {
    display: block;
    color: #0d0d0d;
    margin: 0 auto;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &__left {
        color: #fff;
        font-size: 36px;
        line-height: 37px;
        text-align: left;
    }
}